/* NATIVE CSS MODS */

html, body{min-height:100%; height:auto;}
h1, h2, h3, h4, h5, h6{color: #7a2879}
h1{font-size: 3.2rem; line-height: 3.5rem}
h2{font-size: 2.5rem; line-height: 2.8rem}
h3{font-size: 2.3rem; line-height: 2.6rem}
p {font-size: 1.25rem; line-height: 1.8rem; letter-spacing: 0.03rem; font-weight: 300}
b {font-weight: 400}
em {color: #7a2879; font-weight: 400; font-style: normal}
a {text-decoration: none; color: #7a2879}

::-webkit-scrollbar {width: 0px;} 
/*
::-webkit-scrollbar-track {background: rgba(255,255,255,0.0);}
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
    background: rgba(100,100,100,0.8);
}
::-webkit-scrollbar-thumb:window-inactive {background: rgba(122,40,121,0.4);}
*/

input[type='file'] {display: none}

/* GOOGLE MDL MODS */

.mdl-grid{padding: 0px}

.mdl-spinner:not(.is-upgraded).is-active:after {
    content: ""; }

.mdl-layout__drawer-button, .mdl-layout__drawer{
    left: initial;
    right: 0;
}

.mdl-layout__drawer{transform:translateX(250px)}
.mdl-layout__header-row{padding: 0 40px}
.mdl-layout__content {height: 100%}
.mdl-layout__header, .mdl-layout__drawer-button {color: white; position: absolute}

.mdl-button{
    font-family: 'Yanone Kaffeesatz', sans-serif !important; 
    font-size: 1.25rem; 
    letter-spacing: 0.05rem; 
    line-height: 2.5rem;
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised,
.mdl-button--accent.mdl-button--accent.mdl-button--fab,
.mdl-button--fab.mdl-button--colored,
.mdl-button--fab.mdl-button--colored:hover{
    background-color: #7a2879
}

.mdl-button--primary.mdl-button--primary{color: #7a2879}

.mdl-dialog {width: 70%; height: auto; max-height: 90%}
.mdl-dialog__content--scrollable{
    max-height: 65vh;
    overflow-y: scroll;
    overflow-x: hidden
}

    .mdl-dialog__content--scrollable::-webkit-scrollbar-track{
	   border-radius: 4px;
	   background-color: #FFFFFF;
    }

    .mdl-dialog__content--scrollable::-webkit-scrollbar{
	   width: 4px;
	   border-radius: 4px;
	   background-color: #FFFFFF;
    }

    .mdl-dialog__content--scrollable::-webkit-scrollbar-thumb{
	   border-radius: 4px;
	   background-color: #636363;
    }

.mdl-list__item .mdl-list__item-primary-content .mdl-list__item-icon{margin-right: 16px}

.mdl-list__item{
    font-size: 1.2rem;
    padding: 0px
}

.mdl-list__item--two-line{height: auto}
.mdl-layout__header-row{background-color: #7a2879}

a.mdl-navigation__link.active{
    background-color: #e0e0e0; 
    color: #57bf96 !important
}

.dialog{max-height: 100%}
.mdl-card{width: auto}
.mdl-card__supporting-text{width: auto}
.mdl-textfield {width: 100%}
.mdl-textfield__input{font-family: 'Yanone Kaffeesatz', sans-serif !important; }

.mdl-data-table, .mdl-data-table th{font-size: 1.16rem; line-height: 1.5rem; letter-spacing: 0.03rem}
.mdl-data-table tbody tr{height: auto}

form > .mdl-cell{margin-bottom: 0px; margin-top: 0px}

.mdl-tooltip--large{font-size: 1.1rem; line-height: 1.3rem; letter-spacing: 0.07rem}

/* FULLPAGE.JS MODS */

    /* produtos */

    .fp-controlArrow.fp-prev{ 
        left: 25px !important;
        border-color: #7a2879 !important;
        border-width: 0 1px 1px 0 !important;   
        border-style: solid;
        display: inline-block;
        padding: 10px;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        margin-top: 0.5%;
    }

    .fp-controlArrow.fp-next{ 
        right: 25px !important;
        border-color: #7a2879 !important;
        border-width: 0 1px 1px 0 !important;   
        border-style: solid;
        display: inline-block;
        padding: 10px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        margin-top: 0.5%;
    }

/* ETICKETA */

.font, h1, h2, h3, h4, h5, small{font-family: 'Yanone Kaffeesatz', sans-serif !important}
.w200{font-weight: 200 !important} .w300{font-weight: 300 !important} .w400{font-weight: 400 !important} .w700{font-weight: 700 !important}
.etka_home,
.etka_prod,
.etka_fazemos,
.etka_preco,
.etka_contato {
    height: 100%
}

hr.etka_spacer__clear {
    border-top: 1pt solid rgba(0,0,0,.12);
    margin: 0% 25%
}

.etka-layout-transparent {height: auto}
.etka_scroll, #drawer{display: none;}

    /* PRELOADER */
    #etka_preloader {
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;
        background-color: #fff;
        z-index: 99;
    }
    #etka_preloader-status {position: absolute; left: 50%; top: 50%;}

.etka_title{
    color: white;
    text-decoration: none
}

.etka_hypertext{
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: rgba(87, 191, 150, 0.8);
    cursor: pointer
}

.etka_form-label{margin-top: 22px}
.etka_form-label_formato{margin-top: 19px !important}

dialog .etka_btn-enviar{width: 100%}

.etka_contato-enviado, .etka_contato-erro,
.etka_contato-mobile-enviado, .etka_contato-mobile-erro,
.etka_subscribe-enviado, .etka_subscribe-erro,
.etka_orcamento-enviado, .etka_orcamento-erro,
.etka_o-rotulos-enviado, .etka_o-rotulos-erro,
.etka_o-lacres-enviado, .etka_o-lacres-erro,
.etka_o-ingressos-enviado, .etka_o-ingressos-erro,
.etka_o-validade-enviado, .etka_o-validade-erro,
.etka_precos-enviado, .etka_precos-erro,
.etka_p-lacres-enviado, .etka_p-lacres-erro,
.etka_p-garantia-enviado, .etka_p-garantia-erro,
.etka_p-ingresso-enviado, .etka_p-ingresso-erro,
.etka_p-validade-enviado, .etka_p-validade-erro,
.etka_popup-enviado, .etka_popup-erro{
    display: none
}

.etka_orcamento-card__media,
.etka_precos-card__media{
    background-color: white;
    text-align: center;
}
.etka_orcamento-card__media-ok,
.etka_precos-card__media-ok{
    font-size: 3rem;
    color: limegreen;
}
.etka_orcamento-card__media-notok,
.etka_precos-card__media-notok{
    font-size: 3rem;
    color: darkred;
}

    /* home */

    #etka_home-video{
        position: absolute;
        bottom: 0;
        top:0;
        right:0;
        width: 100%;
        height: auto;
        background-size: 100% 100%;
        background-color: black; /* in case the video doesn't fit the whole page*/
        background-image: url(../mov/etka_site17-video_amarelo2.mp4);
        background-position: center center;
        background-size: cover;
        object-fit: cover; /*cover video background */
        z-index: 0;
        overflow: hidden;
        opacity: 0.6;
    }

    .layer{
        position: absolute;
		z-index: 4;
		width: 100%;
		left: 0;top: 0;
		  -webkit-transform: translate3d(0,0,0);
		  -ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
        height: 100%;
    }

    .etka_home {
/*        background: url('../img/bg-header.jpg') center / cover;*/
        background-color: black;
    }
    .etka_home a{color: white !important}
    .etka_home p{color: white}
    .etka_home-logo{margin-right: 16px; padding-right: 8px;}

    .etka_home-txt{
        padding: 16px 16.66666% 0 16px;
        background-color: rgba(255,255,255,0.2);
        margin-right: 0
    }

    .etka_home-menu {
	   position: absolute;
	   bottom: 0;
	   text-align: center;
    }

    .etka_home-menu a{font-size: 1.25rem}

    .etka_home .etka_som{
        color: white;
        position: absolute;
        top: 10px; left: 10px;
        z-index: 999
    }
    .etka_home .etka_som i{opacity: 0.7}
    .etka_home .etka_som i:hover{opacity: 1}
    .etka_home .etka_som-btn{}
    .etka_mute{display: none} .etka_unmute{display: none}

    @keyframes etka_bounce {
	   0%, 20%, 50%, 80%, 100% {bottom:0;}
	   40% {bottom:30px;}
	   60% {bottom:15px;}
    }
    .etka_bounce {animation: etka_bounce 2s infinite}

    /* prod | rotulos - lacres - ingressos - validade */

    .etka_prod {background-color: white}
    .etka_prod p{color: black; opacity: .87}
    .etka_prod .mdl-cell--3-col-desktop{margin: 0 2% 0 4.5%}
    .etka_prod-video{overflow: hidden; height: 81vh}

    .etka_prod-video video{
        width: auto;
        height: 100%;
        object-fit: cover !important;
    }

    #dialog-orcamento h4{margin: 0px}
    #dialog-orcamento form p{margin: 0px; padding-top: 24px}
    #dialog-orcamento form .mdl-icon-toggle, #dialog-orcamento form .cores-help{padding-top: 20px}

        /* prod | orçamento */

        label > input[type="radio"], .mdl-radio__outer-circle, .mdl-radio__inner-circle{
            visibility: hidden;
            position: absolute
        }
        .mdl-radio.is-upgraded{padding-left: 0px}
        .mdl-radio__ripple-container{
            top: -5px; left: -5px
        }
        label > input[type="radio"] + i{cursor: pointer}
        label > input[type="radio"]:checked + i{color: #57bf96}

        .etka_orcamento-card,
        .etka_precos-card,
        .etka_popup-card{
            position: absolute;
            top: 0; left: 0;
            width: 100%; height: 100%;
            background-color: rgba(0,0,0,0.1)
        }

    /* como fazemos */

    .etka_fazemos {
        background-color: #FAFAFA;
        background-image: url(../img/fazemos/etka-fazemos_bg.jpg);
        background-repeat: repeat;
    }
    .etka_fazemos h1{text-align: center}
    .etka_fazemos p{color: black; opacity: .87}
    .etka-card-wide.mdl-card {width: auto}

    .etka-card-wide > .mdl-card__title {color: #fff; height: 0; padding-top: 14vh}
        .etka-fazemos-flexo {
            background: url('../img/fazemos/etka_fazemos-flexo.jpg') center / cover;
        }
        .etka-fazemos-digital {
            background: url('../img/fazemos/etka_fazemos-digital.jpg') center / cover;
        }
        .etka-fazemos-offset {
            background: url('../img/fazemos/etka_fazemos-offset.jpg') center / cover;
        }
        .etka-fazemos-consultoria {
            background: url('../img/fazemos/etka_fazemos-consultoria.jpg') center / cover;
        }

    .etka-card-wide > .mdl-card__menu {color: #fff}

    .etka_fazemos-dialog table{
        width: 100%;
        table-layout: fixed;
        white-space: normal
    }

    .etka_fazemos-dialog th{text-transform: uppercase}

    /* preco */

    .etka_preco {
        background-image: url('../img/precos/etka_preco-bg_3840.jpg');
        background-position: center;
        background-size: cover;
        background-blend-mode: overlay;
        background-color: #424242;
        font-family: 'Yanone Kaffeesatz', sans-serif !important
    }
    .etka_preco h1 {text-align: center; color: white}
    .etka_preco p {color: black; opacity: .87}
    .etka_preco ul {margin: 0;}

    .etka_preco .mdl-card__title, .etka_preco .mdl-card__title-text {
        color: #7a2879;
        display: block;
        padding: 14px;
        font-size: 2rem;
        font-weight: 400
    }

    .etka_preco .mdl-list{text-align: left}
    .etka-card__preco h2 {margin: 14px 0}

    .etka_slider-label{
        margin: 0 23px 12px 23px;
        padding-bottom: 0px; padding-top: 0px;
    }
    .etka_slider-label_input{
        display: inline-block;
        width: auto;
        border-bottom: none;
        font-family: 'Yanone Kaffeesatz', sans-serif !important
    }

    dialog .etka_preco-faca{
        background-repeat: no-repeat;
        background-position: center; 
    }

    /* portefólio */
    
    .etka_port h1{text-align: center}
    .etka_port .etka-card-image{cursor: pointer}
    
    .etka_port-dialog{
        height: 94vh;
        width: 97vw
    }

    .etka-card-image.mdl-card {
        margin: 16px 0;
        width: auto;
        background: url('../img/heinz-ex.jpg') center / cover;
    }

    .etka-card-image > .mdl-card__actions {
        height: 3.6rem;
        padding: 1.2rem;
        background: rgba(0, 0, 0, 0.2); 
        background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)); /* For Firefox 3.6 to 15 */
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)); /* Standard syntax */
    }  

    .etka-card-image__filename {
        color: #fff;
        font-size: 1.2rem;
        letter-spacing: 0.03rem;
        font-weight: 500;
        text-transform: uppercase;
    }

    /* contato */

    .etka_contato {background-color: white}
    .etka_contato .mdl-grid {height: 100%;}
    .etka_contato p{color: black; opacity: .87}
    .etka_contato-tel{
        color: rgba(0,0,0,0.54);
        display: inline;
        font-weight: 300;
        margin-left: 5px; margin-right: 25px;
        vertical-align: sub
    }
    .etka_contato-tel small{color: #7a2879}

    .etka_contato-l{
        background: url('../img/ETKA-contato_bg-roxo.jpg') right / cover;
        height: 100%;
        margin: 0 16px 0 0;
        text-align: left;
    }

    .etka_contato-l p{color: white;}

    .etka_contato-l .mdl-textfield__input{
        border-bottom: 1px solid rgba(255,255,255,0.7);
        color: rgba(255,255,255,0.7)
    }
    .etka_contato-l .mdl-textfield__label{color: rgba(255,255,255,0.7);}

    .etka_contato-subscribe{
        background: rgba(0,0,0,0.12);
        padding: 20px;
        margin-right: -8px;
    }

    .etka_copy{
        width: 100%;
        height: auto !important;
        position: absolute;
        bottom: 0px;
        text-align: center
    }

    .etka_copy-l-txt{
        text-align: right;
        font-size: .9rem;
        letter-spacing: .08rem;
        color: rgba(255,255,255,0.38);
    }

    .etka_copy-s{
        font-family: sans-serif
    }

    .etka_copy-r-txt{
        text-align: left;
        font-size: .9rem;
        letter-spacing: .08rem;
        color: black;
        opacity: .5;
        margin-left: -8px;
    }

    #etka_contato-enviado,
    #etka_contato-mobile-enviado,
    #etka_subscribe-enviado,
    #etka_o-rotulos-enviado,
    #etka_o-lacres-enviado,
    #etka_o-ingressos-enviado,
    #etka_o-validade-enviado,
    #etka_p-lacres-enviado,
    #etka_p-garantia-enviado,
    #etka_p-ingresso-enviado,
    #etka_p-validade-enviado,
    #etka_popup-enviado{
        animation-name: fadeIn;}
        @keyframes fadeIn { 
            0% {
                opacity: 0;
                transform: translateY(0%);
            } 
            100% {
                opacity: 1;
                transform: translateY(100%);
            }
        }



