@charset "UTF-8";

.Accordion {
	margin: 10px;
	padding: 0px;
	text-indent: 0px;
	width: 460px;
	text-align:left;
}

.AccordionPanel {
	border-width: 2px;
	border-radius: 4px;
	margin: 0px;
	padding: 0px;
	text-indent: 0px;
}

.AccordionPanelTab {
	cursor:pointer;
	background:#FFFFFF url(../imagens/collapsed_f.png) no-repeat scroll 3px 4px;
	color:#999999;
	display:block;
	font-weight:bold;
	text-indent:16px;
	text-decoration: none;
	height: 15px;
	line-height: 1.5;
}

.AccordionPanelContent {
	border-width: 2px;
	border-radius: 4px;
	margin: 0px;
	padding: 0px;
	text-indent: 10px;
	height: 80px;
	background-image: url(../imagens/bg_f.gif);
	background-repeat: repeat-x;
	overflow-x:hidden;
}

.AccordionPanelOpen .AccordionPanelTab {
	background-image: url(../imagens/bg_f.gif);
	background-repeat: repeat-x;
	background:#FFFFFF url(../imagens/expanded_f.png) no-repeat scroll 3px 4px;
}

.AccordionPanelTabHover {
	color:#CCC;
}
.AccordionPanelOpen .AccordionPanelTabHover {
	color:#CCC;
}

.AccordionFocused {
	color: #666666;
}

.AccordionFocused .AccordionPanelOpen .AccordionPanelTab {
	color: #666666;
	background:#FFFFFF url(../imagens/expanded_f.png) no-repeat scroll 3px 4px;
}
/* Rules for Printing */

@media print {

  .Accordion {
  overflow: visible !important;
  }
  
  .AccordionPanelContent {
  display: block !important;
  overflow: visible !important;
  height: auto !important;
  }
}