
.etka_mkt {
    min-height: 100%;
    background-image: url(img/etka_email-bgV.jpg);
}

.etka_mkt-form{
    position: relative;
    vertical-align: middle;
}

.etka_mkt-form--content {
    background-color: white;
    padding: 5%
}

.etka_mkt-form--top {
    margin-top: 3rem 
}

.etka_mkt-form--top > img{
    vertical-align: bottom;
    width: 100%
}

.etka_mkt-form--bottom {
    margin-bottom: 3rem 
}

.etka_mkt-form--bottom > img{
    vertical-align: top;
    width: 100%
}

.etka_popup-enviado,
.etka_popup-erro{
    display: none
}

.etka_mkt .etka_popup-card {
    background-color: transparent
}