
.etka_mkt {
    min-height: 100%;
    background-image: url(/img/etka_email-bgV.jpg);
}

.etka_mkt-form{
    position: relative;
    vertical-align: middle;
}

.etka_mkt-form--content {
    background-color: white;
    padding: 2rem 5rem
}

.etka_mkt-form--top {
    background-image: url(img/etka_email-ingresso_top.png);
    background-size: cover;
    margin-top: 3rem 
}

.etka_mkt-form--bottom {
    background-image: url(img/etka_email-ingresso_bottom.png);
    background-size: cover;
    margin-bottom: 3rem 
}

.etka_popup-enviado,
.etka_popup-erro{
    display: none
}

.etka_mkt .etka_popup-card {
    background-color: transparent
}
